/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block
}

audio, canvas, progress, video {
    display: inline-block;
    vertical-align: baseline
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden], template {
    display: none
}

a {
    background-color: transparent
}

a:active, a:hover {
    outline: 0
}

abbr[title] {
    border-bottom: 1px dotted
}

b, strong {
    font-weight: bold
}

dfn {
    font-style: italic
}

h1 {
    font-size: 2em;
    margin: 0.67em 0
}

mark {
    background: #ff0;
    color: #000
}

small {
    font-size: 80%
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -0.5em
}

sub {
    bottom: -0.25em
}

img {
    border: 0
}

svg:not(:root) {
    overflow: hidden
}

figure {
    margin: 1em 40px
}

hr {
    box-sizing: content-box;
    height: 0
}

pre {
    overflow: auto
}

code, kbd, pre, samp {
    font-family: monospace, monospace;
    font-size: 1em
}

button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0
}

button {
    overflow: visible
}

button, select {
    text-transform: none
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer
}

button[disabled], html input[disabled] {
    cursor: default
}

button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0
}

input {
    line-height: normal
}

input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0
}

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
    height: auto
}

input[type="search"] {
    -webkit-appearance: textfield;
    box-sizing: content-box
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em
}

legend {
    border: 0;
    padding: 0
}

textarea {
    overflow: auto
}

optgroup {
    font-weight: bold
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

td, th {
    padding: 0
}

*, *:before, *:after {
    box-sizing: border-box
}

html {
    opacity: 1;
    transition: 1s opacity
}

html.fade-out {
    opacity: 0;
    transition: none
}

.wrapper {
    padding: 25px 0
}

@media only screen and (min-width: 64em) {
    .wrapper {
        padding: 32px 0;
        margin-top: 64px
    }
}

.off-canvas-container {
    display: flex;
    min-height: 100vh;
    flex-direction: column
}

.off-canvas-container .wrapper {
    flex: 1 0 auto
}

.icon {
    vertical-align: bottom
}

@font-face {
    font-family: 'Born';
    src: url("../fonts/Born/Born.eot");
    src: url("../fonts/Born/Born.woff2") format("woff2"), url("../fonts/Born/Born.woff") format("woff");
    font-weight: normal;
    font-style: normal
}

body {
    color: #222;
    font-size: 19px;
    font-weight: 300;
    font-family: Born, Georgia, serif;
    line-height: 32px;
    background-color: #fafafa;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

h1, h2, h3, h4, h5, h6 {
    font-family: Born, Georgia, serif;
    font-size: 19px;
    font-weight: 300;
    margin: 0 0 25px;
    line-height: initial
}

@media only screen and (max-width: 40em) {
    h1, h2, h3, h4, h5, h6 {
        font-size: 16px
    }
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    text-decoration: none
}

.post-content h1 {
    font-size: 32px
}

.post-content h2 {
    font-size: 28px
}

.post-content h3 {
    font-size: 26px
}

.post-content h4 {
    font-size: 22px
}

.post-content h5 {
    font-size: 19px
}

.post-content h1, .post-content h2, .post-content h3, .post-content h4, .post-content h5, .post-content h6 {
    font-weight: 700
}

.post-content p, .post-content ul, .post-content ol {
    margin-bottom: 25px
}

.post-content li {
    margin: 0 0 13px
}

p {
    margin: 0 0 32px
}

p.font-medium {
    margin: 0 0 25px
}

p.font-small {
    margin: 0 0 22px
}

p.font-tiny {
    margin: 0 0 19px
}

@media only screen and (max-width: 40em) {
    p {
        margin: 0 0 25px
    }
}

blockquote {
    margin: 0;
    padding-left: 22px;
    font-style: italic;
    border-left: 3px solid #222
}

hr {
    border: 0;
    height: 1px;
    background-color: #ECF0F1;
    margin: 0 0 32px
}

@media only screen and (max-width: 40em) {
    hr {
        margin: 0 0 25px
    }
}

ul, ol {
    margin: 0 0 32px
}

ul ul, ul ol, ol ul, ol ol {
    margin: 0
}

@media only screen and (max-width: 40em) {
    ul, ol {
        margin: 0 0 25px
    }
}

a {
    color: #222;
    transition: .4s
}

a:visited {
    color: #222
}

a:hover {
    color: #7E7E7E
}

a:active {
    color: #222
}

a.custom {
    text-decoration: none
}

.box {
    padding: 25px;
    margin-bottom: 25px;
    overflow: hidden;
    border: 1px solid #ECF0F1
}

@media only screen and (min-width: 64em) {
    .box {
        padding: 32px;
        margin-bottom: 32px
    }
}

.box--author {
    background-color: #FAFAFA
}

.box a {
    text-decoration: none
}

.page-header .box {
    background-color: #FFF
}

.box__icon {
    float: left;
    width: 32px;
    margin-right: 10.6666666667px
}

.box__title {
    margin: 0;
    font-weight: 300;
    line-height: 25px
}

@media only screen and (min-width: 40.063em) {
    .box__body {
        overflow: hidden
    }
}

.box__text {
    margin-top: 11px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 22px
}

img, iframe {
    display: block
}

img {
    height: auto;
    max-width: 100%
}

.post-content img, .post-content iframe, .post-content .fluid-width-video-wrapper, .post-content .twitter-tweet {
    margin-bottom: 25px !important
}

@media only screen and (max-width: 40em) {
    .post-content img, .post-content iframe, .post-content .fluid-width-video-wrapper, .post-content .twitter-tweet {
        margin-bottom: 22px
    }
}

.post-content p img {
    margin-bottom: 0
}

.CoverImage {
    max-height: 600px;
    max-width: 100%;
    background-color: #ECF0F1;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover
}

.post__tags {
    margin-bottom: 28px;
    font-size: 14px
}

.post__tags a {
    padding: 3px 11px;
    margin: 4px 8px 4px 0;
    display: inline-block;
    font-size: 12px;
    line-height: 22px;
    color: #222;
    background-color: #FAFAFA;
    border: 1px solid #ECF0F1;
    text-decoration: none;
    transition: .4s
}

.post__tags a:hover {
    background-color: #ECF0F1
}

@media only screen and (max-width: 40em) {
    .post__tags {
        margin-bottom: 22px
    }
}

pre, code {
    font-family: Courier, monospace;
    font-size: 16px;
    background-color: #FAFAFA
}

pre {
    overflow: auto;
    margin-top: 0;
    margin-bottom: 32px;
    padding: 32px;
    font-size: 16px;
    white-space: pre-wrap;
    word-wrap: break-word
}

@media only screen and (max-width: 40em) {
    pre {
        margin-bottom: 22px;
        padding: 25px
    }
}

p code {
    padding: 3px 6px
}

.row {
    margin: 0 auto;
    max-width: 1100px
}

@media only screen and (min-width: 40.063em) {
    .row {
        padding-left: 13px;
        padding-right: 13px
    }
}

@media only screen and (min-width: 64em) {
    .row {
        padding-left: 16px;
        padding-right: 16px
    }
}

.row:before, .row:after {
    display: table;
    clear: both;
    content: " "
}

.row .row {
    padding: 0
}

@media only screen and (min-width: 40.063em) {
    .row .row {
        margin-right: -13px;
        margin-left: -13px
    }
}

@media only screen and (min-width: 64em) {
    .row .row {
        margin-right: -16px;
        margin-left: -16px
    }
}

.column {
    position: relative;
    float: left;
    padding-right: 13px;
    padding-left: 13px;
    width: 100%
}

@media only screen and (min-width: 64em) {
    .column {
        padding-right: 16px;
        padding-left: 16px
    }
}

.column--center {
    float: none;
    margin: 0 auto
}

@media only screen {
    .small-1 {
        width: 8.3333333333%
    }

    .small-2 {
        width: 16.6666666667%
    }

    .small-3 {
        width: 25%
    }

    .small-4 {
        width: 33.3333333333%
    }

    .small-5 {
        width: 41.6666666667%
    }

    .small-6 {
        width: 50%
    }

    .small-7 {
        width: 58.3333333333%
    }

    .small-8 {
        width: 66.6666666667%
    }

    .small-9 {
        width: 75%
    }

    .small-10 {
        width: 83.3333333333%
    }

    .small-11 {
        width: 91.6666666667%
    }

    .small-12 {
        width: 100%
    }
}

@media only screen and (min-width: 40.063em) {
    .medium-1 {
        width: 8.3333333333%
    }

    .medium-2 {
        width: 16.6666666667%
    }

    .medium-3 {
        width: 25%
    }

    .medium-4 {
        width: 33.3333333333%
    }

    .medium-5 {
        width: 41.6666666667%
    }

    .medium-6 {
        width: 50%
    }

    .medium-7 {
        width: 58.3333333333%
    }

    .medium-8 {
        width: 66.6666666667%
    }

    .medium-9 {
        width: 75%
    }

    .medium-10 {
        width: 83.3333333333%
    }

    .medium-11 {
        width: 91.6666666667%
    }

    .medium-12 {
        width: 100%
    }
}

@media only screen and (min-width: 64em) {
    .large-1 {
        width: 8.3333333333%
    }

    .large-2 {
        width: 16.6666666667%
    }

    .large-3 {
        width: 25%
    }

    .large-4 {
        width: 33.3333333333%
    }

    .large-5 {
        width: 41.6666666667%
    }

    .large-6 {
        width: 50%
    }

    .large-7 {
        width: 58.3333333333%
    }

    .large-8 {
        width: 66.6666666667%
    }

    .large-9 {
        width: 75%
    }

    .large-10 {
        width: 83.3333333333%
    }

    .large-11 {
        width: 91.6666666667%
    }

    .large-12 {
        width: 100%
    }
}

input[type='text'], input[type='tel'], input[type='number'], input[type='email'], textarea {
    width: 100%;
    max-width: 100%;
    margin-bottom: 0;
    display: inline-block;
    border: 1px solid #222;
    margin-bottom: 8px;
    padding: 6px 11px;
    font-family: Born, Georgia, serif;
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 1px;
    outline: none;
    background: transparent;
    appearance: none;
    border-radius: 0;
    transition: .4s
}

@media only screen and (min-width: 64em) {
    input[type='text'], input[type='tel'], input[type='number'], input[type='email'], textarea {
        padding: 8px 16px
    }
}

input[type='text']:focus, input[type='tel']:focus, input[type='number']:focus, input[type='email']:focus, textarea:focus {
    border: 1px solid #7E7E7E
}

.button {
    display: inline-block;
    text-align: center;
    padding: 8px 16px;
    font-family: Born, Georgia, serif;
    font-size: 12px;
    line-height: 25px;
    letter-spacing: 1px;
    border: 0;
    border-radius: 0;
    text-decoration: none;
    color: #FFF;
    background-color: #222;
    transition: .4s
}

.button:active, .button:focus, .button:hover {
    color: #FFF;
    background-color: #7E7E7E
}

.button--expand {
    width: 100%
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

.icon {
    position: relative;
    display: inline-block;
    width: 25px;
    height: 25px;
    overflow: hidden;
    fill: currentColor
}

.icon__cnt {
    width: 100%;
    height: 100%;
    background: inherit;
    fill: inherit;
    pointer-events: none;
    transform: translateX(0);
    -ms-transform: translate(0.5px, -0.3px)
}

.icon--m {
    width: 50px;
    height: 50px
}

.icon--l {
    width: 100px;
    height: 100px
}

.icon--xl {
    width: 150px;
    height: 150px
}

.icon--xxl {
    width: 200px;
    height: 200px
}

.icon__spinner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.icon--ei-spinner .icon__spinner, .icon--ei-spinner-2 .icon__spinner {
    -webkit-animation: spin 1s steps(12) infinite;
    animation: spin 1s steps(12) infinite
}

.icon--ei-spinner-3 .icon__spinner {
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite
}

.icon--ei-sc-facebook {
    fill: #3b5998
}

.icon--ei-sc-github {
    fill: #333
}

.icon--ei-sc-google-plus {
    fill: #dd4b39
}

.icon--ei-sc-instagram {
    fill: #3f729b
}

.icon--ei-sc-linkedin {
    fill: #0976b4
}

.icon--ei-sc-odnoklassniki {
    fill: #ed812b
}

.icon--ei-sc-skype {
    fill: #00aff0
}

.icon--ei-sc-soundcloud {
    fill: #f80
}

.icon--ei-sc-tumblr {
    fill: #35465c
}

.icon--ei-sc-twitter {
    fill: #55acee
}

.icon--ei-sc-vimeo {
    fill: #1ab7ea
}

.icon--ei-sc-vk {
    fill: #45668e
}

.icon--ei-sc-youtube {
    fill: #e52d27
}

.icon--ei-sc-pinterest {
    fill: #bd081c
}

.icon--ei-sc-telegram {
    fill: #0088cc
}

.post-card {
    margin-bottom: 25px;
    border-bottom: 1px solid #ECF0F1;
    background: #FFF
}

.post-card__header {
    margin-bottom: 16px
}

.post-card__image {
    transition: .4s
}

.post-card__info {
    padding: 25px;
    text-align: center
}

.post-card__title {
    line-height: 25px;
    margin-bottom: 0
}

.post-card__title a {
    display: inline;
    border-bottom: none;
    transition: .4s;
    background-image: linear-gradient(180deg, transparent 65%, #FFF5D1 0);
    background-size: 0 100%;
    background-repeat: no-repeat;
    transition: background-size .5s ease
}

.post-card__title a:hover {
    color: #222;
    background-size: 100% 100%
}

.post-card__meta {
    margin-bottom: 8px;
    font-size: 12px;
    line-height: 22px;
    color: #7E7E7E
}

.post-card__meta a {
    color: #7E7E7E;
    text-decoration: none
}

.post-card:hover .post-card__image {
    opacity: 0.9
}

.post-card:hover .post-card__title a {
    background-size: 100% 100%
}

.post-card--featured__icon {
    position: absolute;
    bottom: 8px;
    left: 8px;
    fill: #fff
}

@media only screen and (min-width: 64em) {
    .post-card {
        margin-bottom: 32px
    }
}

.post-list {
    display: flex;
    flex-wrap: wrap;
    display: -webkit-flex;
    -webkit-flex-wrap: wrap
}

.post-list .post-card-wrap {
    display: flex;
    display: -webkit-flex
}

.post-list .post-card {
    width: 100%
}

.share-list {
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    padding: 0;
    border: 1px solid #ECF0F1;
    margin-bottom: 28px;
    line-height: 22px;
    list-style: none
}

.share-list li {
    flex: 1;
    -ms-flex: 1;
    -webkit-box-flex: 1;
    text-align: center;
    margin: 0;
    border-right: 1px solid #ECF0F1
}

.share-list li:last-child {
    border-right: 0
}

.share-list__link {
    display: block;
    padding: 6px;
    font-size: 14px;
    transition: .4s
}

.share-list__link:hover {
    background-color: #FAFAFA
}

.share-list__link:hover .share-list__icon--twitter {
    fill: #55ACEE
}

.share-list__link:hover .share-list__icon--facebook {
    fill: #3B5998
}

.share-list__icon {
    fill: #7E7E7E;
    width: 22px;
    height: 22px
}

@media only screen and (max-width: 40em) {
    .share-list {
        margin-bottom: 25px
    }
}

.FlexEmbed {
    display: block;
    overflow: hidden;
    position: relative
}

.FlexEmbed:before {
    content: "";
    display: block;
    width: 100%
}

.FlexEmbed--3by1:before {
    padding-bottom: 33.33333%
}

.FlexEmbed--2by1:before {
    padding-bottom: 50%
}

.FlexEmbed--16by9:before {
    padding-bottom: 56.25%
}

.FlexEmbed--4by3:before {
    padding-bottom: 75%
}

.CoverImage {
    max-height: 600px;
    max-width: 100%;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover
}

.highlight {
    margin: 0;
    background: #FFF
}

.highlighter-rouge .highlight {
    background: #FAFAFA
}

.highlight .c {
    color: #998;
    font-style: italic
}

.highlight .err {
    color: #a61717;
    background-color: #e3d2d2
}

.highlight .k {
    font-weight: bold
}

.highlight .o {
    font-weight: bold
}

.highlight .cm {
    color: #998;
    font-style: italic
}

.highlight .cp {
    color: #999;
    font-weight: bold
}

.highlight .c1 {
    color: #998;
    font-style: italic
}

.highlight .cs {
    color: #999;
    font-weight: bold;
    font-style: italic
}

.highlight .gd {
    color: #000;
    background-color: #fdd
}

.highlight .gd .x {
    color: #000;
    background-color: #faa
}

.highlight .ge {
    font-style: italic
}

.highlight .gr {
    color: #a00
}

.highlight .gh {
    color: #999
}

.highlight .gi {
    color: #000;
    background-color: #dfd
}

.highlight .gi .x {
    color: #000;
    background-color: #afa
}

.highlight .go {
    color: #888
}

.highlight .gp {
    color: #555
}

.highlight .gs {
    font-weight: bold
}

.highlight .gu {
    color: #aaa
}

.highlight .gt {
    color: #a00
}

.highlight .kc {
    font-weight: bold
}

.highlight .kd {
    font-weight: bold
}

.highlight .kp {
    font-weight: bold
}

.highlight .kr {
    font-weight: bold
}

.highlight .kt {
    color: #458;
    font-weight: bold
}

.highlight .m {
    color: #099
}

.highlight .s {
    color: #d14
}

.highlight .na {
    color: teal
}

.highlight .nb {
    color: #0086B3
}

.highlight .nc {
    color: #458;
    font-weight: bold
}

.highlight .no {
    color: teal
}

.highlight .ni {
    color: purple
}

.highlight .ne {
    color: #900;
    font-weight: bold
}

.highlight .nf {
    color: #900;
    font-weight: bold
}

.highlight .nn {
    color: #555
}

.highlight .nt {
    color: navy
}

.highlight .nv {
    color: teal
}

.highlight .ow {
    font-weight: bold
}

.highlight .w {
    color: #bbb
}

.highlight .mf {
    color: #099
}

.highlight .mh {
    color: #099
}

.highlight .mi {
    color: #099
}

.highlight .mo {
    color: #099
}

.highlight .sb {
    color: #d14
}

.highlight .sc {
    color: #d14
}

.highlight .sd {
    color: #d14
}

.highlight .s2 {
    color: #d14
}

.highlight .se {
    color: #d14
}

.highlight .sh {
    color: #d14
}

.highlight .si {
    color: #d14
}

.highlight .sx {
    color: #d14
}

.highlight .sr {
    color: #009926
}

.highlight .s1 {
    color: #d14
}

.highlight .ss {
    color: #990073
}

.highlight .bp {
    color: #999
}

.highlight .vc {
    color: teal
}

.highlight .vg {
    color: teal
}

.highlight .vi {
    color: teal
}

.highlight .il {
    color: #099
}

.navigation {
    text-align: center;
    height: 100%
}

.navigation li {
    display: inline-block;
    margin-right: 16px;
    font-size: 16px;
    line-height: 32px
}

@media only screen and (max-width: 40em) {
    .navigation li {
        display: block;
        margin-right: 0
    }
}

.navigation li:last-child {
    margin-right: 0
}

.navigation a {
    transition: .4s;
    text-decoration: none;
    background-image: linear-gradient(180deg, transparent 60%, #FFF5D1 0);
    background-size: 0 100%;
    background-repeat: no-repeat;
    transition: background-size .5s ease
}

@media only screen and (max-width: 40em) {
    .navigation a {
        display: block;
        padding-top: 8px;
        padding-bottom: 8px;
        border-bottom: 1px solid #ECF0F1
    }
}

.navigation a:hover {
    color: #222;
    background-size: 100% 100%
}

@media only screen and (min-width: 40.063em) {
    .site-header__navigation {
        text-align: right
    }
}

.pagination {
    clear: both;
    font-size: 12px;
    line-height: 25px
}

.pagination span {
    position: relative
}

.pagination .icon {
    position: relative
}

.pagination .newer-posts {
    float: left;
    text-align: left
}

.pagination .newer-posts span, .pagination .newer-posts .icon {
    left: -8.3333333333px
}

.pagination .older-posts {
    float: right;
    text-align: right
}

.pagination .older-posts span, .pagination .older-posts .icon {
    right: -8.3333333333px
}

.pagination a {
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .2em;
    transition: .4s
}

.post-navigation {
    flex-grow: 1
}

.post-navigation:before {
    position: absolute;
    z-index: 1;
    content: "";
    top: 16px;
    padding: 0 16px;
    font-size: 14px;
    color: #7E7E7E;
    background-color: rgba(255, 255, 255, 0.9);
    transition: .4s
}

.post-navigation.prev:before {
    left: 32px;
    content: "Previous Story"
}

.post-navigation.next:before {
    right: 32px;
    content: "Next Story"
}

.post-navigation:hover:before {
    background-color: #fff
}

.logo {
    display: block;
    margin-bottom: 0;
    line-height: 32px
}

@media only screen and (max-width: 40em) {
    .logo {
        line-height: 25px
    }
}

.logo a {
    transition: .4s;
    text-decoration: none;
    letter-spacing: 1px
}

.logo a:hover {
    color: #7E7E7E
}

.logo__img {
    max-height: 32px;
    vertical-align: middle
}

.site-header {
    position: relative;
    padding: 13px 0;
    border-bottom: 1px solid #ECF0F1;
    line-height: 25px;
    background-color: #FFF
}

@media only screen and (min-width: 64em) {
    .site-header {
        position: fixed;
        z-index: 100;
        width: 100%
    }
}

@media only screen and (min-width: 64em) {
    .site-header {
        padding: 16px 0
    }
}

.off-canvas-toggle {
    display: none
}

@media only screen and (max-width: 40em) {
    .off-canvas-toggle {
        float: right;
        display: block;
        position: absolute;
        top: 50%;
        right: 10px;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        font-size: 14px;
        cursor: pointer
    }
}

@media only screen and (max-width: 40em) {
    html, body {
        overflow-x: hidden
    }

    .off-canvas-content {
        position: fixed;
        top: 0;
        right: 0;
        z-index: 100;
        width: 200px;
        height: 100vh;
        overflow-y: hidden;
        background-color: #A60505;
        border-left: 1px solid #ECF0F1;
        transform: translate3d(200px, 0, 0)
    }

    .off-canvas-container {
        transition: transform .4s cubic-bezier(0.565, 1.65, 0.765, 0.88)
    }

    .off-canvas-container.is-active {
        transform: translate3d(-200px, 0, 0)
    }
}

.footer {
    padding: 16px 0;
    background-color: #FFF
}

@media only screen and (min-width: 40.063em) {
    .footer {
        padding: 50px 0
    }
}

.footer__section {
    margin-bottom: 16px
}

.footer__section:last-child {
    margin-bottom: 0
}

.social-icons li {
    display: inline-block;
    vertical-align: super
}

.social-icons .icon {
    fill: #222;
    transition: .4s
}

.social-icons .icon:hover {
    fill: #7E7E7E
}

.author-image {
    float: left;
    margin: 0;
    margin-right: 25px
}

.author-image .img {
    height: 96px;
    width: 96px;
    background-position: center;
    background-size: cover;
    border-radius: 6px
}

@media only screen and (max-width: 40em) {
    .author-image .img {
        height: 64px;
        width: 64px
    }
}

@media only screen and (min-width: 64em) {
    .author-image {
        margin-right: 32px
    }
}

.author-meta {
    text-indent: -1px
}

.author-meta .icon {
    fill: #222;
    transition: .4s
}

.author-meta a .icon:hover {
    fill: #7E7E7E
}

.post {
    margin-bottom: 32px;
    padding: 25px;
    background-color: #FFF;
    border-style: solid;
    border-width: 0 1px 1px;
    border-color: #ECF0F1
}

.post--no-image {
    border-width: 1px
}

@media only screen and (min-width: 40.063em) {
    .post {
        padding: 32px
    }
}

@media only screen and (min-width: 64em) {
    .post {
        padding: 50px 64px
    }
}

.post__header {
    margin-bottom: 13px
}

.post__title {
    margin-bottom: 13px;
    font-size: 24px
}

@media only screen and (min-width: 64em) {
    .post__title {
        font-size: 32px
    }
}

.post__date {
    font-size: 14px;
    line-height: 22px;
    display: block;
    color: #7E7E7E
}

.post-content a {
    background-image: linear-gradient(to bottom, #222, #222);
    text-shadow: -1px -1px 0 #FDFDFD, 1px -1px 0 #FDFDFD, -1px 1px 0 #FDFDFD, 1px 1px 0 #FDFDFD;
    background-repeat: repeat-x;
    background-size: 1px 1px;
    background-position: 0 96%;
    text-decoration: none
}

.post-content a:hover {
    background-image: linear-gradient(to bottom, #7E7E7E, #7E7E7E)
}

.grey-bg {
    background-color: #FAFAFA
}

.no-bullets, .list-bare {
    list-style: none
}

.bullets-inside {
    list-style: inside
}

.list-bare {
    margin: 0;
    padding: 0
}

.text-left {
    text-align: left
}

.text-right {
    text-align: right
}

.text-center {
    text-align: center
}

.text-justify {
    text-align: justify
}

.inline {
    display: inline
}

.block {
    display: block
}

.inline-block {
    display: inline-block
}

.hide {
    display: none
}

.left {
    float: left
}

.right {
    float: right
}

.hidden {
    border: 0 none;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px
}

.clearfix:before, .clearfix:after {
    content: " ";
    display: table
}

.clearfix:after {
    clear: both
}

.light {
    font-weight: 300
}

.regular {
    font-weight: 400
}

.bold {
    font-weight: 700
}

.italic {
    font-style: italic
}

.cap {
    text-transform: capitalize
}

.uppercase {
    text-transform: uppercase
}

.ell {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.font-base {
    font-size: 19px
}

.font-medium {
    font-size: 16px;
    line-height: 25px
}

.font-small {
    font-size: 14px;
    line-height: 22px
}

.font-tiny {
    font-size: 12px;
    line-height: 19px
}
